#slogan
{
        font-family: Arial;
        font-size: 60px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.41;
        letter-spacing: normal;
        text-align: center;
        color: #3774af;
}

#btn-register
{
    font-family: Constantia;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  background-color: #3774af;
  opacity: 0.73;
}

#btn-login
{
    font-family: Constantia;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  background-color: #3774af;
  opacity: 0.73;
}

#bg-login
{
    border-radius: 45px;
    border: solid 3px #000000;
    background-color: #c4ddf5;
}

#login-title
{
    font-family: Arial;
    font-size: 70px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.63;
    letter-spacing: normal;
    text-align: center;
    color: #5d90c1;
}

#btn-login
{
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}